* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3a3a3a;
}

header {
    position: fixed;
    width: 100%;
    background-color: #494949;
    color: #fff;
    text-align: center;
    padding: 1rem 1rem;
    display: flex;
    top: 0;
    padding: 5px;
    align-items: center;
    height: 50px;
    padding-top: 15px;
}

header h1 {
    font-size: 26px;
    margin-left: 20px;
}

.container {
    max-width: 900px;
    margin: 2rem auto;
    background-color: #3a3a3a;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    padding-left: 20px;
    padding-right: 20px;

}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: rgb(204, 204, 204);
    padding-left: 20px;
}

.container h6 {
    line-height: 1.6;
    color: #8a8a8a;
    border-bottom: 1px solid #444;
    padding-bottom: 20px;
    font-size: 16px;
    padding-left: 20px;
}

h2 {
    font-size: 18px;
    margin-top: 2.5rem;
    border-bottom: 1px solid #444;
    padding-bottom: 20px;
    padding-left: 20px;
}

.p h3 {
    color: rgb(206, 206, 206);
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.st {
    color: #8a8a8a;
}

ul {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
    color: #8a8a8a;
    display: flex;
    gap: 30px;
    padding-left: 20px;

}

ul li {
    margin-bottom: 1rem;
}

.t ul li {
    gap: 40px;
    display: flex;
    padding: 0;
    margin: 0;
}

.t ul {
    flex-direction: column;
    flex-wrap: wrap;
}

.t h4 {
    color: rgb(175, 175, 175);
}

.tbox {
    display: flex;
    gap: 200px;
    border-bottom: 1px solid #444;
}

.c {
    border-bottom: 1px solid #444;
}

.c ul {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.c h4 {
    color: #cfcece;
    font-size: 20px;

}

.skills {
    color: rgb(214, 214, 214);
    display: flex;
    width: 100%;
    background-color: dimgrey;
    padding-left: 20px;
}

.barbox {
    display: flex;
    flex: 1 0 100%;
    padding-bottom: 10px;
    justify-content: space-between;
}

.skills-item {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.bar-container {
    padding: 10px;

}

.bar-item {
    background-color: gray;
    width: 100%;
    height: 10px;
    position: relative;
}

.skills h4 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.bar {
    background-color: rgb(214, 214, 214);
    width: 90%;
    height: 10px;
    position: absolute;
}

.bar2 {
    background-color: rgb(214, 214, 214);
    width: 80%;
    height: 10px;
    position: absolute;
}

.bar3 {
    background-color: rgb(214, 214, 214);
    width: 70%;
    height: 10px;
    position: absolute;
}

.bar4 {
    background-color: rgb(214, 214, 214);
    width: 99%;
    height: 10px;
    position: absolute;
}

.bar5 {
    background-color: rgb(214, 214, 214);
    width: 90%;
    height: 10px;
    position: absolute;
}

.bar6 {
    background-color: rgb(214, 214, 214);
    width: 70%;
    height: 10px;
    position: absolute;
}

.e-container {
    flex: 1 0 100%;
    justify-content: space-between;
    padding-left: 20px;
}

.e-container h3 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 21px;
    color: #c2c2c2;
}

.edc {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.edc-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.exp-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.e-box {
    border: 1px solid rgb(63, 63, 63);
    border-radius: 36px;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(196, 196, 196);
    background-color: rgb(63, 63, 63);

}

.ep {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.ep h4 {
    color: #cfcece;
    font-size: 18px;
    padding-bottom: 8px;
}

.ep p {
    font-size: 14px;
}

.e-container li {
    display: flex;
    gap: 60px;
}
#sidebar{
    position: fixed;
    width: 100px;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: #3a3a3a;
    transition: all 500ms cubic-bezier(1, 0, 0, 1);
    padding: 1rem;
    line-height: 1.75;
    z-index:1000;

}
#sidebar p{
    display: flex;
    justify-content: right;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
    color: #e0e0e0;
}
#sidebar.open{
    right:-100px;
}
.selected{
    color: #e0e0e0;
}
a{
    color: white;
    text-decoration: none;
}
#sidebar #trigger{ 
    position: absolute;
    top: 0;
    width: 48px;
    height: 48px;
    left: -48px;
}
a:hover{
color: #e0e0e0;
}